.container_a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #d9dddb;
  }
  
  .member {
    margin: 40px;
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
  }

  .about-container{
    margin-top: 1rem;
  }
  
  .member img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.5s;
    border-radius: 70%;
  }
  
  .member:hover img {
    transform: scale(1.15);
  }

  .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
  }

  .aboutText {
    background: #6d7974;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .member:hover .middle {
    opacity: 1;
  }
  
